:root {
    margin: 0;
    padding: 0;
    text-decoration: none;
    --BodyBg: #303481;
    --formBg:#343F48;
    --textColor: #fff;
    --primaryColor: #0076A3;
    --paraColor: #5e6c79;
    --paracolor: #74828f;
   
}


body{
    color: var(--text-color);
    background-color: var(--background-color);
    padding-bottom: 5em;

}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%; /* Increased from 90% for mobile */
    max-width: 550px;
    margin: auto;
    margin-top: 2em;
}

.section-header{
   text-transform: capitalize;
   font-weight: bold;
   font-size: 1.1rem;
   color: var(--primaryColor);
   margin-bottom: .5em;

}

.heading.paragraph{
    margin-bottom: 5em;
    font-weight: bold;
}

.paragraph{
    color: var(--paraColor);
    font-size: 1.1rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}

@media screen and (min-width:800px) {
    footer{
        max-width: 1100px;
    }
    
}
.paragraph2{
    text-align: left;

}

.input{
    width: 95%;
    max-width: 700px;
    border: none;
    font-size: .9rem;
    padding: 1em;
    outline: none;
    margin-bottom: 1em;
    background-color: var(--formBg);
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(53, 53, 53);

}

.input:focus{
    border: 1px solid var(--primaryColor);
   
}

input::placeholder{
    text-transform: capitalize;
}

.submit{
    background-color: var(--primaryColor);
    border: none;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.map-container {
    position: relative;
    width: 100%;
    height: 400px; /* Reduced height */
    margin-top: 1.5em;
    overflow: hidden; /* Prevent overflow */
}

.mapBg {
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    right: 0;
    width: 200px;
    height: 90%;
    border-radius: 20px;
    z-index: 1; /* Lower z-index */
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2; /* Higher z-index than mapBg */
    overflow: hidden; /* Contain the iframe */
    border-radius: 10px;
}

.map iframe {
    width: 100%;
    height: 100%;
}

/* Fix footer-form to be responsive */
.footer-form {
    display: flex;
    flex-direction: column; /* Stack on mobile */
    gap: 2em;
    margin-top: 2em;
    width: 100%;
}


/* Add a media query for larger screens */
@media screen and (min-width: 992px) {
    .footer-form {
        flex-direction: row; /* Side by side on desktop */
    }
    
    form {
        flex: 1;
    }
    
    .map-container {
        flex: 1;
    }
}


.sub-heading{
    text-align: left;
}

.footer-form{
    display: flex;
    gap: 3em;
    margin-top: 3em;

}

.contactMethod {
    display: flex;
    flex-direction: column; /* Stack on mobile */
    margin-top: 2em;
    text-align: left;
    gap: 1.5em; /* Add spacing between stacked items */
}

.method{
    display: flex;
    align-items: center;

}

.contact-icon{
    font-size: 2rem;
    color: var(--primaryColor);
    width: 70px;
}

@media screen and (min-width: 768px) {
    /* Tablet and larger */
    .contactMethod {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; /* Allow wrapping if needed */
    }
    
    .method {
        width: 48%; /* Two items per row on medium screens */
    }
}