.Home{
    --primary-color: #254d4d;
    --text-color: #171717;
    --text-light: #737373;
    --extra-light: #f4f6f5;
    --white: #ffffff;
    --max-width:1200px; 
    
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }

  .section__header {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--primary-color);
  }
  
  .section__description {
    font-size: 1.1rem;
    color: var(--text-light);
  }

  img {
    display: flex;
    width: 100%;
  }
  .header__container {
    display: grid;
    overflow: hidden;
  }
  
  .header__image {
    grid-area: 1/1/2/2;
  }
  
  .header__image img {
    max-width: 900px;
    margin-left: auto;
  }
  
  .header__content {
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
  }
  
  .header__content > div {
    max-width: 500px;
    padding: 4rem 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    backdrop-filter: blur(10px);
   
  }
  
  .header__content h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: #254d4d;
  }
  
  .header__content p {
    font-size: 1.2rem;
    color: var(--text-light);

  }