.service {
    overflow: hidden;
  }
  
  .service__grid {
    margin-top: 4rem;
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem 1rem;
  }
  
  .service__grid::before {
    position: absolute;
    content: "";
    height: calc(50% + 5rem);
    width: 100vw;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    z-index: -1;
  }
  
  .service__card {
    position: relative;
    isolation: isolate;
    padding: 2rem 1rem;
    background-color: var(--white);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .service__card::before {
    position: absolute;
    content: "";
    width: 100%;
    max-width: 10rem;
    aspect-ratio: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: -1;
  }
  
  .service__card img {
    max-width: 70px;
    margin-inline: auto;
    margin-bottom: 2rem;
  }
  
  .service__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
  }
  
  .service__card p {
    font-weight: 500;
    color: var(--text-light);
    text-align: center;
    line-height: 1.75rem;
  }
  
  .section__header{
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }